<a href="https://colab.research.google.com/github/Neilvaldrez/58013-LinearAlgebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [3]:
#This is a comment
print("Hello, World")

Hello, World

Python Variable

In [9]:
x = 1
a, b = 0, -1
a, b, c = 0, 1, 2

b = "Sally" #This is a type of string.

Casting

In [8]:
b = "sally" #This is a type of string.
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double" Quotes or 'Single' Quotes

In [18]:
y = "John"
y = 'John'

Case Sensitive

In [20]:
a = 4
A = "Sally"

#A will not overwrite a

Multiple Variables

In [23]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [24]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [27]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Other way:

In [29]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [31]:
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum = x + y
sum

8

In [33]:
a, b, c = 0, -1, 6
c %= 3
c

0

Comparison Operators

In [35]:
a, b, c = 0, -1, 6
a > b and c > b
True

True

Identity Operators

In [42]:
a, b ,c = 0, -1, 5
a is c
False

False

Bitwise Operator

In [48]:
a, b ,c = 0, -1, 5
print(c>>1)
print(c<<1)

2
10